{% load static %}
<!doctype html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <h1 style="color: #8BE9FD; font-size: 60px;" >HELEN</h1>
    <pre style="
        color: #f8f8f2;
        font-family: 'Fira Code', 'Consolas', monospace;
        font-size: 16px;
        line-height: 1.5;
        margin: 0;
        overflow-x: auto;
        tab-size: 2;
    ">
<code style="display: block;">
<span style="color: #ff79c6;">class</span> <span style="color: #8be9fd;">StudentProgrammer</span> {
  <span style="color: #50fa7b;">constructor</span>() {
    <span style="color: #ff79c6;">this</span>.<span style="color: #f1fa8c;">name</span> = <span style="color: #f1fa8c;">"Helen"</span>;
    <span style="color: #ff79c6;">this</span>.<span style="color: #f1fa8c;">birthYear</span> = <span style="color: #bd93f9;">2007</span>;
    <span style="color: #ff79c6;">this</span>.<span style="color: #f1fa8c;">education</span> = {
      <span style="color: #f1fa8c;">university</span>: <span style="color: #f1fa8c;">"RTU MIREA"</span>,
      <span style="color: #f1fa8c;">specialty</span>: <span style="color: #f1fa8c;">"Computer Science, FullStack Development "</span>,
    };
    <span style="color: #ff79c6;">this</span>.<span style="color: #f1fa8c;">status</span> = <span style="color: #f1fa8c;">"Open to work"</span>;
    <span style="color: #ff79c6;">this</span>.<span style="color: #f1fa8c;">skills</span> = {
        <span style="color: #f1fa8c;">languages</span>: [<span style="color: #f1fa8c;">"JavaScript"</span>, <span style="color: #f1fa8c;">"Python"</span>, <span style="color: #f1fa8c;">"C++"</span>],
        <span style="color: #f1fa8c;">frontend</span>: [<span style="color: #f1fa8c;">"React Native"</span>, <span style="color: #f1fa8c;">"HTML/CSS"</span>, <span style="color: #f1fa8c;">"Figma"</span>],
        <span style="color: #f1fa8c;">backend</span>: [<span style="color: #f1fa8c;">"Node.js"</span>, <span style="color: #f1fa8c;">"Django"</span>],
        <span style="color: #f1fa8c;">tools</span>: [<span style="color: #f1fa8c;">"Git"</span>],
        <span style="color: #f1fa8c;">experienceFromHackathons</span>: [<span style="color: #f1fa8c;">"ML"</span>, <span style="color: #f1fa8c;">"Development"</span>]
    };
  }
}
</code>
    </pre>
</div>
</body>
</html>